<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: blue;">
            SHREYAS IYER
        </h1>
        <h2><a href="{% url 'pk:livingstone' %}"> navigate to livingstonepage</a></h2>
        <h2><a href="{% url 'pk:samcurran' %}">navigate to sampage</a></h2>
        <h2><a href="{% url 'kkr:russell' %}">navigate to russellpage</a></h2>
    </center>
    <h1 style="color: blueviolet;">Shreyas Santosh Iyer is an Indian international cricketer who plays for the Indian cricket team as a Right-handed batter.
         He has played in all formats for the Indian team.</h1>
</body>
</html>