<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: darkred;">
            LIAM Livingstone
        </h1>
       ,<h2><a href="{% url 'kkr:russell' %}"> navigate to russell</a></h2>
        <h2><a href="{% url 'kkr:iyer' %}"> navigate to iyer</a></h2>
        <h2><a href="{% url 'pk:samcurran' %}">navigate to samopage</a></h2>
    </center>
    <h1 style="color: red;">Liam Stephen Livingstone is an English cricketer who plays for Lancashire and England. Livingstone is a right-handed batter and spin bowler, capable of bowling both right-arm leg and off spin.
         He made his Twenty20 debut for Lancashire against Leicestershire in May 2015.</h1>
</body>
</html>