<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: brown;">
            ANDRE RUSSELL
        </h1>
       <h2><a href="{% url 'pk:samcurran' %}" >navigate to sam page</a></h2>
       <h2> <a href="{% url 'pk:livingstone' %}">navigate to livingstonepage</a></h2>
        <h2><a href="{% url 'kkr:iyer' %}">navigate to iyerpage</a></h2>
    </center>
    <h1 style="color: blueviolet;">Andre Dwayne Russell is a Jamaican who has played international cricket for West Indies and for Jamaica in domestic cricket as an all-rounder. He currently plays in various T20 leagues around the globe.
         Russell was part of 2012 and 2016 ICC World T20 winning West Indies team.</h1>
</body>
</html>